In [50]:
#Importing library
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import pandas as pd

In [51]:
#Read in dataset

london_bike = pd.read_csv(r'C:\Users\GD\Desktop\Portfolio\LondonBike\london_merged.csv')
london_bike.head()

,timestamp,cnt,t1,t2,hum,wind_speed,weather_code,is_holiday,is_weekend,season
0,2015-01-04 00:00:00,182,3.0,2.0,93.0,6.0,3.0,0.0,1.0,3.0
1,2015-01-04 01:00:00,138,3.0,2.5,93.0,5.0,1.0,0.0,1.0,3.0
2,2015-01-04 02:00:00,134,2.5,2.5,96.5,0.0,1.0,0.0,1.0,3.0
3,2015-01-04 03:00:00,72,2.0,2.0,100.0,0.0,1.0,0.0,1.0,3.0
4,2015-01-04 04:00:00,47,2.0,0.0,93.0,6.5,1.0,0.0,1.0,3.0

In [52]:
#Exploring data
london_bike.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17414 entries, 0 to 17413
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   timestamp     17414 non-null  object
 1   cnt           17414 non-null  int64
 2   t1            17414 non-null  float64
 3   t2            17414 non-null  float64
 4   hum           17414 non-null  float64
 5   wind_speed    17414 non-null  float64
 6   weather_code  17414 non-null  float64
 7   is_holiday    17414 non-null  float64
 8   is_weekend    17414 non-null  float64
 9   season        17414 non-null  float64
dtypes: float64(8), int64(1), object(1)
memory usage: 1.3+ MB

In [53]:
# Checking for null values
london_bike.isnull().sum()

timestamp       0
cnt             0
t1              0
t2              0
hum             0
wind_speed      0
weather_code    0
is_holiday      0
is_weekend      0
season          0
dtype: int64

In [54]:
# Checking for duplicated values
london_bike.duplicated().sum()

0

In [55]:
#Rename columns for easier understanding
new_columns_name = {
     'timestamp':'time',
     'cnt':'count',
     't1':'temp_actual_C',
     't2':'temp_feel_C',
     'hum':'humidity_percent',
     'wind_speed':'wind_speed',
     'weather_code':'weather',
     'is_holiday':'is_holiday',
     'is_weekend':'is_weekend',
     'season':'season'
 }
london_bike.rename(new_columns_name,axis=1,inplace=True)
london_bike

,time,count,temp_actual_C,temp_feel_C,humidity_percent,wind_speed,weather,is_holiday,is_weekend,season
0,2015-01-04 00:00:00,182,3.0,2.0,93.0,6.0,3.0,0.0,1.0,3.0
1,2015-01-04 01:00:00,138,3.0,2.5,93.0,5.0,1.0,0.0,1.0,3.0
2,2015-01-04 02:00:00,134,2.5,2.5,96.5,0.0,1.0,0.0,1.0,3.0
3,2015-01-04 03:00:00,72,2.0,2.0,100.0,0.0,1.0,0.0,1.0,3.0
4,2015-01-04 04:00:00,47,2.0,0.0,93.0,6.5,1.0,0.0,1.0,3.0
...,...,...,...,...,...,...,...,...,...,...
17409,2017-01-03 19:00:00,1042,5.0,1.0,81.0,19.0,3.0,0.0,0.0,3.0
17410,2017-01-03 20:00:00,541,5.0,1.0,81.0,21.0,4.0,0.0,0.0,3.0
17411,2017-01-03 21:00:00,337,5.5,1.5,78.5,24.0,4.0,0.0,0.0,3.0
17412,2017-01-03 22:00:00,224,5.5,1.5,76.0,23.0,4.0,0.0,0.0,3.0
17413,2017-01-03 23:00:00,139,5.0,1.0,76.0,22.0,2.0,0.0,0.0,3.0

In [56]:
# Changing numerical values of weather and season to written values

# Creating dictionaries of written values to map to the columns
holiday_written = {'0.0':'No',
                  '1.0':'Yes'}

weekend_written = {'0.0':'No',
                  '1.0':'Yes'}

season_written = {'0.0':'Spring',
                 '1.0':'Summer',
                 '2.0':'Fall',
                 '3.0':'Winter'}


weather_written = {'1.0':'Clear',
                  '2.0':'Scattered Clouds',
                  '3.0':'Broken Clouds',
                  '4.0':'Cloudy',
                  '7.0':'Rain',
                  '10.0':'Rain With Thunderstorm',
                  '26.0':'Snowfall',
                  '94.0':'Freezing Fog'}

# Changing type of is_holiday to string
london_bike.is_holiday = london_bike.is_holiday.astype('str')
# Mapping values from created dictionary to is_holiday column
london_bike.is_holiday = london_bike.is_holiday.map(holiday_written)

# Changing type of is_weekend to string
london_bike.is_weekend = london_bike.is_weekend.astype('str')
# Mapping values from created dictionary to is_holiday column
london_bike.is_weekend = london_bike.is_weekend.map(weekend_written)

# Changing type of season to string
london_bike.season = london_bike.season.astype('str')
# Mapping values from created dictionary to season columns 
london_bike.season = london_bike.season.map(season_written)

# Changing type of weather to string
london_bike.weather = london_bike.weather.astype('str')
# Mapping values from created dictionary to weather columns
london_bike.weather = london_bike.weather.map(weather_written)

In [57]:
#Double check to see whether the values is changed or not
london_bike

,time,count,temp_actual_C,temp_feel_C,humidity_percent,wind_speed,weather,is_holiday,is_weekend,season
0,2015-01-04 00:00:00,182,3.0,2.0,93.0,6.0,Broken Clouds,No,Yes,Winter
1,2015-01-04 01:00:00,138,3.0,2.5,93.0,5.0,Clear,No,Yes,Winter
2,2015-01-04 02:00:00,134,2.5,2.5,96.5,0.0,Clear,No,Yes,Winter
3,2015-01-04 03:00:00,72,2.0,2.0,100.0,0.0,Clear,No,Yes,Winter
4,2015-01-04 04:00:00,47,2.0,0.0,93.0,6.5,Clear,No,Yes,Winter
...,...,...,...,...,...,...,...,...,...,...
17409,2017-01-03 19:00:00,1042,5.0,1.0,81.0,19.0,Broken Clouds,No,No,Winter
17410,2017-01-03 20:00:00,541,5.0,1.0,81.0,21.0,Cloudy,No,No,Winter
17411,2017-01-03 21:00:00,337,5.5,1.5,78.5,24.0,Cloudy,No,No,Winter
17412,2017-01-03 22:00:00,224,5.5,1.5,76.0,23.0,Cloudy,No,No,Winter
17413,2017-01-03 23:00:00,139,5.0,1.0,76.0,22.0,Scattered Clouds,No,No,Winter

In [61]:
#Write the dataframe to excel file
london_bike.to_excel('londonbike_final.xlsx',sheet_name= 'bikeshare')